.beatsImg{
	width: 100%;
}
.licenseFormContainer{
	background-color: rgba(230, 230, 230, 0.8);
	margin-top: 20px;
	position: fixed;
	top: 70px;
	left: 5px;
	backdrop-filter: blur(15px);
	z-index: 200;
}
.beatsInfo h4{
	margin: 20px 10px 5px 10px;
}
.beatsInfo p{
	margin: 10px;
}
.windowClose{
	text-align: right;
	color: #19252a;
}
.windowCloseIcon{
	font-size: 24px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 15px;
}
.formInfoDivider{
	margin: 2px 0 !important;
	background-color: rgba(25, 37, 42, 0.5);
}

@media (min-width: 700px) {
	.licenseFormContainer {
		left: 450px;
	}
}
