.container {
	display: flex;
	margin-top: 50px;
}
.imageContainer {
	width: 120px;
	box-shadow: 9px 7px 2px #c4c4c494, -15px -12px 20px #2b455f4a;
}
.image {
	width: 100%;
}
.descriptionContainer {
	display: none;
}
@media (min-width: 700px) {
	.container {
		width: 600px;
		justify-content: space-around;
	}
	.descriptionContainer{
		display: flex;
	}
	.descriptionTitle {
		padding-top: 0 !important;
	}
	@media (max-width: 800px) {
		.container {
			margin-top: 0;
		}
	}
}
