.playlistContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.albumContainer{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.playlistHeading{
	color: #a0927b;
}
.albumContainer{
	overflow-x: scroll;

}
.albumContainer::-webkit-scrollbar{
	display: none;
}

.albumImage{
	width: 150px;
	height: 150px !important;
	margin: 20px;
	cursor: pointer;
}
.albumImage:hover{
	transform: scale(1.1);
	transition: all 0.15s ease-in;
}
.makeLong{
	height: 200px !important;
	width: 150px !important;
}

@media (min-width: 700px) {
	.albumContainer{
		display: flex;
		width: auto;
		justify-content: space-between;
	}
	.albumImage{
		width: 220px;
		height: 220px !important;
		margin: 20px;
	}
	.playlistHeading{
		font-size: 25px;
	}
	.makeLong{
		height: 300px !important;
		width: 220px !important;
	}

}

@media (min-width: 1000px){
	.albumImage{
		width: 250px !important;
		height: 250px !important;
		margin: 20px;
	}
	.makeLong{
		height: 320px !important;
		width: 250px !important;
	}
}
