.sidebar{
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	background-color: #19252A;
	left: 0;
	top: 0;
	box-shadow: 1px 0 7px rgba(255, 255, 255, 0.205);
	z-index: 200;
	transform: translateX(-100%);
	transition: all 0.1s ease-out;
}
.sidebar.open{
	transform: translateX(0);
}
.sidebarHeader{
	display: flex;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.logo{
	width: 80px;
	margin-top: 15px;
	margin-left: -15px;
}
.cross{
	color: #a0927b;
	font-size: 12px;
	cursor: pointer;
}
.sidebar > ul {
	display: flex;
	height: 200px;
	width: 150px;
	padding-left: 20px;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.sidebar > ul > li {
	list-style-type: none;
}

.sidebar > ul > li> a:hover,
.sidebar > ul > li> a:active {
	color: white;
	text-decoration: none;

}
.sidebar > ul > li > a {
	color: #a0927b;
}

@media screen and (min-width: 680px){
	.sidebar{
		display: none;
	}
}
