.container {
	display: flex;
	flex-direction: column;
}
.dataContainer {
	margin: 80px auto 80px auto;
	width: 80%;
	box-shadow: 21px 21px 39px #bdbdbd,
	-21px -21px 39px #ffffff;
}

@media (max-width: 600px) {
	.dataContainer {
		width: 95%;
	}
}
